{% extends 'layout/main.html'%}
{% block content %}
  {% include 'include/nav.html' %}
  {% include 'include/corosal.html' %}
  <section class="bg-light py-4 my-5">
    <div class="container">
     <div class="row">
       <div class="col-12">
         <div class="mb-3"><h4 class="text text-danger">Latest Products</h4></div>
         <hr style="border-color:rebeccapurple;">
       </div>
       {% for item in product %}
       <div class="col-lg-3 col-md-4">
         <div class="card my-3">
           <img src="{{item.product_image.url}}" class="card-image-item" alt="Catagory-image" width="300px" height="200px">
           <hr>
             <a href="{% url 'product_name' item.category.name item.name %}">
             <div class="card-body">
             <h5 class="card-title text-primary">{{item.name | upper}}</h5>
             <p class="card-text">
               <span class="old_price float-start" style="color:red;">Rs.<s>{{item.old_price | stringformat:'d'}}&#8377</s></span>
               <span class="original_price float-end" style="background-color:green; color:white;">Rs.{{item.original_price | stringformat:'d'}}&#8377</span>
             </p>
             
           </div>
           <a href="{% url 'product_name' item.category.name item.name %}" class="btn btn-primary btn-sm m-3">view details</a>
         </a>
         </div>
       </div>
       {% endfor %}
     </div>
    </div>
 </sectio
 {% endblock content %}